<h4 class="spectrum-Heading spectrum-Heading--sizeM title">Hello World</h4>

<div class="button-group">
  <button
    (click)="helloWorld()"
    class="spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeS spectrum-ButtonGroup-item"
  >
    <span class="spectrum-Button-label">Say Hello</span>
  </button>

  <button
    (click)="showProjectName()"
    class="spectrum-Button spectrum-Button--fill spectrum-Button--primary spectrum-Button--sizeS spectrum-ButtonGroup-item"
  >
    <span class="spectrum-Button-label">Show Project Name</span>
  </button>
</div>
